<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
      
    <div class="contener">
      
      <div class="imag">
       <img src="image/interior-design-g0b2f94441_1280.jpg" alt="">
      </div>
          
         <div class="connexion1">

            

            <table>
              <thead>
                <tr>
                  <th>nom</th>
                  <th>adressmail</th>
                  <th>numero</th>
                  <th>modifier</th>
                  <th>supprimer</th>
                </tr>
              </thead>
                <tbody>
                  <%resultat%>
                  <% for(let i=0 ;i<resultat.length; i++) {%>
                  <tr id=<%= resultat[i].id %> >
                    <td><%=resultat[i].nom %></td>
                    <td><%=resultat[i].adresse %></td>
                    <td><%=resultat[i].telephone%></td>
                    <td id="edit"> <i class="fa-solid fa-pen"></i></td>
                    <td><a href="/delete?id=<%= resultat[i].id %>" onclick="return confirm('are you sure ?')"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            <h1></h1> 
         </div>
         <div id="page"></div>
        
         <div class="modification">
          <form action="/update" method="post">
         
           <h1>modification</h1>
           <input id="input" type="text" name="id">
            <p>Nom</p>
            <input type="text"  name="nom">
            <p>numero</p>
            <input type="tel"  name="telephone">
            <p>mot de passe</p>
            <input type="password" placeholder="saisir mot de passe" name="password">
  
            <button type='submit' >modification</button>
          </form>
         </div>
        
     </div> 
      <script src="javascript/script.js"></script>
    </body>
    </html>



    
</body>
</html>